body {
    background: var(--body-background);
    margin: 0;
    font-family: var(--base-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--body-text-color);
    overflow: auto;
    font-size: var(--base-font-size);
}

code {
    font-family: var(--code-font-family);
}

input {
    outline: none;
    color: inherit;
    border: none;
    margin: 0;
    font-size: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@for $i from 1 through 5 {
    h#{$i} {
        font-size: 2.25rem - 0.25rem * $i;
        font-weight: 500;
        margin: 0;
    }
}
