.main {
    padding-left: var(--sidebar-width);
}

.article-list {
    line-height: 1.5rem;

    .header {
        height: var(--header-height);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: var(--header-background);
        margin-bottom: var(--header-margin);
    }

    .card {
        height: var(--card-height);
        width: var(--card-width);
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        border-top: 1px solid var(--text-2);

        .title {
            display: inline;
            font-size: 1.5rem;
            font-weight: 600;

            &:hover {
                font-weight: 800;
            }
        }

        .short-content {
            margin-top: 1rem;
            color: var(--text-darker);
            overflow: hidden;
            max-height: 72px;
        }
    }
}
