.left-sidebar {
    background-color: var(--sidebar-background);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;

    .sidebar-container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 24px;

        .box {
            padding-left: 20px;
            padding-right: 20px;

            .subject {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
            }
        }

        .profile {
            margin-top: 12px;
            margin-bottom: 12px;

            .home {
                font-weight: 600;
                font-size: 1.3rem;
                text-align: center;

                &:hover {
                    font-weight: 700;
                }
            }
        }

        .search {
            .item {
                padding: 8px;
                display: flex;
                gap: 12px;
                background-color: var(--search-box-background);
                border-radius: 4px;

                .search-icon {
                    flex: 1 0 auto;

                    &::before {
                        content: "검색";
                    }
                }

                input {
                    flex: 0 1 auto;
                    width: 100%;
                    background: transparent;
                }
            }
        }

        .categories {
            ul {
                &:not(:first-child) {
                    padding-left: 1rem;
                }
            }
        }

        .tags {
            .tagBox {
                font-size: 1.1rem;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }
    }
}
