.article-detail {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: var(--header-height);
        background-color: var(--header-background);
        text-align: center;
        margin-bottom: var(--header-margin);

        .date {
            font-size: 0.9rem;
            margin-top: 10px;
            color: var(--text-2);
        }
    }

    .content {
        width: var(--article-width);
        margin-left: auto;
        margin-right: auto;
        line-height: 2rem;

        & > * {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        @for $i from 1 through 5 {
            h#{$i} {
                margin-top: 2.25rem - 0.25rem * $i;
            }
        }

        #TableOfContents {
            background-color: var(--TOC-background);
            padding: 1rem;
            border-radius: 5px;
            font-size: 1.1rem;
            margin-bottom: 4rem;
            color: var(--text-2);

            ul {
                display: list-item;
                padding-left: 0;

                &:not(:first-child) {
                    padding-left: 1rem;
                }
            }

            a {
                display: flex;

                &:hover {
                    color: var(--text-1);
                }

                &::before {
                    content: "-";
                    padding-right: 0.5rem;
                }

                &::after {
                    content: ">";
                    margin-left: auto;
                }
            }
        }

        .highlight {
            pre {
                outline: none;
                border-radius: 5px;
                padding: 16px;
            }

            code {
                white-space: pre-wrap;
                word-break: break-all;
                line-height: 1.3rem;

                & > span:not(:first-child) {
                    margin-top: 0.2rem;
                }
            }
        }

        p:has(img) {
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: var(--img-max-height);
            border-radius: 5px;
        }
    }
}
