{{ $pages := .Site.RegularPages }}
{{ $categories := dict }}
{{ range $pages }}
    {{ if hasPrefix .Path "post" }}
        {{ $splitedPath := split .Path "/" }}
        {{ $categoryArray := slice }}
        {{ range $splitedPath }}
            {{ $first:= index $splitedPath 0 }}
            {{ $last:= index (last 1 $splitedPath) 0 }}
            {{ if and (ne . $first) (ne . $last) }}
                {{ $categoryArray = $categoryArray | append . }}
            {{ end }}
        {{ end }}
        {{ if gt (len $categoryArray) 0 }}
            {{ $newCategory := dict $categoryArray "" }}
            {{ $result := false }}
            {{ $now := $categories }}
            {{ range $categoryArray }}
                {{ if reflect.IsMap $now }}
                    {{ $next := index $now . }}
                    {{ if not (reflect.IsMap $next) }}
                        {{ $result = true }}
                    {{ end }}
                    {{ $now = $next }}
                {{ end }}
            {{ end }}
            {{ if $result }}
                {{ $categories = merge $categories $newCategory }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}


<aside class="left-sidebar">
    <div class="sidebar-container">
        {{/* 프로필 */}}
        <div class="profile box">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        {{/* 검색 */}}
        <div class="search box">
            <div class="item">
                <i></i>
                <input type="text" />
            </div>
        </div>
        {{/* 카테고리 */}}
        <div class="categories box">
            <div class="subject">카테고리</div>
            <ul class="dropdown">
                {{ range $category, $next := $categories }}
                    <li class="depth-1">
                        {{ $category }}
                        {{ if reflect.IsMap $next }}
                            <ul>
                                {{ range $category, $next := $next }}
                                    <li class="depth-2">
                                        {{ $category }}
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </li>
                {{ end }}
            </ul>
        </div>
        {{/* 태그 */}}
        <div class="tags box">
            <div class="subject">테그</div>
            <ul class="tagBox">
                {{ range .Site.Taxonomies.tags }}
                    <li class="tag">
                        {{ .Page.Title }}
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</aside>
