// global color style
:root {
    --body-background: #252629;
    --text-1: #f9f9f3;
    --text-2: #cccccc;
    --body-text-color: #f9f9f3;
    --text-darker: #cccccc;
    --header-background: #37373a;
}

// global font family
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback",
        "Microsoft YaHei";
    --base-font-family: "SUIT", var(--sys-font-family), var(--zh-font-family),
        sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New",
        var(--zh-font-family), monospace;
    --article-font-family: var(--base-font-family);
}

// sidebar style
:root {
    --sidebar-background: #3f4044;
    --search-box-background: #4a4b4f;
    --sidebar-width: 250px;
}

// size
:root {
    --base-font-size: 16px;
    --header-height: 250px;
    --header-margin: 64px;
    --card-height: 130px;
    --card-width: 800px;
    --article-width: 720px;
    --TOC-background: var(--sidebar-background);
    --img-max-height: 300px;
}
