{{ $ctx := .ctx }}
{{ $parentCategories := .parentCategories | default slice }}
{{ $level := .level }}
{{ $maximumLevel := .maximumLevel }}

{{ $subCategories := slice }}


<!-- get pages for which we will search for next category nodes -->
{{ $allPages := $ctx.Site.RegularPages }}
{{ $nodePages := slice }}


<!-- fetching next category node names -->
{{ range $allPages }}
    {{ $hasNextLevel := gt (len (.Params.categories | default slice)) (len $parentCategories) }}
    {{ $isMatch := partial "category-match-fnc.html" (dict "pageCategories" .Params.categories "parentCategories" $parentCategories) }}
    {{ if $isMatch }}
        {{ if $hasNextLevel }}
            {{ $subCategories = union $subCategories (slice (index .Params.categories $level)) }}
            {{ $nodePages = union $nodePages (slice .) }}
        {{ else }}
            {{ $nodePages = union $nodePages (slice .) }}
        {{ end }}
    {{ end }}
{{ end }}


<!-- rendering & nesting -->
{{ if or (gt (len $subCategories) 0) (gt (len $nodePages) 0) }}
    <ul>
        {{ len $nodePages }}
        {{ range $subCategories }}
            <li>
                <div class="node-sub-category">
                    <a href="{{ $ctx.Site.BaseURL }}categories/{{ . }}"
                        >{{ . }}</a
                    >
                </div>
                {{ if lt (add $level 1) $maximumLevel }}
                    {{ partial "categories.html" (dict "ctx" $ctx "parentCategories" (union $parentCategories (slice .)) "level" (add $level 1) "maximumLevel" $maximumLevel ) }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
{{ end }}
